{{define "head"}}
    <style>{{template "style-common"}}</style>
    <style>{{template "style-page"}}</style>
    <style>{{template "style-menu"}}</style>
{{end}}

{{define "body"}}
    <div id="page-content">{{template "page-content"}}</div>
    <div id="menu">{{template "menu"}}</div>
{{end}}

{{define "page-content"}}
    <div id="icon-frame">
        <div id="icon">
            <img src="/assets/icon.jpeg" />
        </div>
        <div id="disp">
            <p>CHIYOI</p>
        </div>
    </div>
{{end}}

{{define "menu"}}
    <div id="menu-icon" onclick='{{template "script-menu-icon-onclick"}}'>{{template "menu-icon"}}</div>
    <div id="menu-content">{{template "menu-content"}}</div>
{{end}}

{{define "menu-content"}}
    <div id="menu-content-text">
        <div id="about" class="link" onclick='{{template "script-menu-content-about-onclick"}}'>
            <p>ABOUT</p>
        </div>
    </div>
{{end}}
